/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
   --accent-color: #ff0070;
  --main-bg-color: #000028;
  --color-text: #000028;
  --main-color-text: #f1b2ce;
  --bg-image: url(../images/cover-image-dark.png);
  --header-title: #db00ff;
  --border-color: rgba(255, 0, 112, 0.4);
}

.theme-dark .header__rec { 
  display: block;
}

.theme-dark .header__theme-menu {
  color: var(--accent-color);
}

.theme-dark .text-section {
  color: var(--accent-color);
}

.theme-dark .decorated-zone {
  color: var(--accent-color);
}