/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #FF8DCB;
  --main-bg-color: #FFC2E6;
  --bg-image: url(../images/cover-image-light.png);
  --color-text: #353430;
  --main-color-text: #353430;
}

.header__rec.theme-light {
    display: none;
  }

@media (prefers-color-scheme: light) {
  :root {
     --accent-color: #FF8DCB;
  --main-bg-color: #FFC2E6;
  --bg-image: url(../images/cover-image-light.png);
  --color-text: #353430;
  --main-color-text: #353430;
}
  .header__rec{
    display: none;
  }
}