/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #ff8dcb;
  --main-bg-color: #ffeef6;
  --bg-image: url(../images/cover-image-light.png);
  --color-text: #353430;
  --main-color-text: #353430;
  --header-title: #ffc2e6;
  --border-color: rgba(53, 52, 48, 0.4);
}

.theme-light .header__rec {
  display: none;
}

.theme-light .header__theme-menu {
  color: var(--main-color-text);
}

.theme-light .text-section {
  color: var(--main-color-text);
}

.theme-light .decorated-zone {
  color: var(--main-color-text);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --main-bg-color: #ffeef6;
    --bg-image: url(../images/cover-image-light.png);
    --color-text: #353430;
    --main-color-text: #353430;
    --header-title: #ffc2e6;
    --border-color: rgba(53, 52, 48, 0.4);
  }
  .header__rec {
    display: none;
  }

  .header__theme-menu {
    color: var(--main-color-text);
  }

  .text-section {
    color: var(--main-color-text);
  }

  .decorated-zone {
  color: var(--main-color-text);
}
}
